.body{margin:0 auto;max-width:1024px;width:98%;font-size:18px;line-height:1.5;}
h1{font-size:28px;}
h2{font-size:26px;}
h3{font-size:24px;}
p{font-size:18px;}

ul.menu{margin:0;padding:0;display:inline-block;background-color:#2b2b2b;background-repeat:no-repeat;background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#4f4f4f), to(#2b2b2b));background-image:-webkit-linear-gradient(#4f4f4f, #2b2b2b);background-image:-moz-linear-gradient(top, #4f4f4f, #2b2b2b);background-image:-ms-linear-gradient(#4f4f4f, #2b2b2b);background-image:-o-linear-gradient(#4f4f4f, #2b2b2b);background-image:linear-gradient(#4f4f4f, #2b2b2b);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f4f4f', endColorstr='#2b2b2b', GradientType=0);border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;max-width:100%;}
ul.menu li{float:left;list-style:none;border-right:1px solid #4f4f4f;position:relative;}
ul.menu li a{color:white;display:block;font-weight:500;padding:8px 9px 10px;text-decoration:none;border-right:1px solid #2b2b2b;}
ul.menu li a:hover{background-color:#2b2b2b;}
ul.menu li:first-child a:hover{border-radius:4px 0 0 4px;-webkit-border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px;}
ul.menu li ul{display:none;}
ul.menu li:hover ul{display:block;position:absolute;top:34px;border-radius:0 0 4px 4px;-webkit-border-radius:0 0 4px 4px;-moz-border-radius:0 0 4px 4px;background-color:#2b2b2b;z-index:1000;}
ul.menu li:hover ul li{float:none;width:280px;border-right:none;}
ul.menu li:hover ul li a{border-top:1px solid #4f4f4f;border-right:none;padding:6px 5px 8px 5px;}
ul.menu li:hover ul li a:hover{background-color:transparent;color:#c1deff;}
ul.menu li:hover ul li:first-child a:hover{border-radius:0;-webkit-border-radius:0;-moz-border-radius:0;}
/*div.bottom{background:url(/img/bottom-bg.JPG) no-repeat;background-size:97%;width:98%;height:200px;}*/

.scrollTop{background:url("arrows.png") 0 0 no-repeat;width:50px;height:50px;position:fixed;bottom:20px;right:20px;z-index:2000;}

a{display: inline-block;}

a.button1{
    position:relative;
  /*  text-align:center;*/
    width:90%;/**/
    display:inline-block;
    color:#333333;
    font-size:16px;
    font-weight:700;
    text-decoration:none;
    text-shadow:rgba(255,255,255,.5) 1px 1px, rgba(100,100,100,.3) 3px 7px 3px;user-select:none;
    padding:5px 5px 5px 5px;
    margin:5px 5px 5px 5px;
    outline:none;border-radius:3px/100%;background-image:linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%),

linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 90%, rgba(255,255,255,.3)),
linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5)),
linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5));background-repeat:no-repeat;background-size:200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;background-position:200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);box-shadow:rgba(0,0,0,.5) 3px 10px 10px -10px;}
a.button1:hover{transition:.5s linear;background-position:-200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);}
a.button1:active{top:1px;}

table {
   border-collapse: collapse;
   /*убираем пустые промежутки между ячейками*/
   border: 2px solid grey;
   /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
}

th, td {
   padding: 10px 15px;
   border: 2px solid grey;
}

.zebra1 tbody tr:nth-child(odd) {
background-color: #fafeff; /* фон нечетных строк */
}
.zebra1 tbody tr:nth-child(even) {
background-color: #eef0ff; /* фон четных строк */
}
.zebra1 tbody tr:hover {
background: #eeeed1; /* Цвет фона при наведении */
}


.a_h_refs{
    background: linear-gradient(90deg, #ffea5561, #09f9f92e);
    padding: 3px 1px 3px 15px;
    border-left: 7px solid grey;
    font-size:14px;
    border-bottom: 1px dotted red;
}
.a_h_refs a{
    color:blue;
    text-decoration:none;
    font-size:20px;
}


#video{
    overflow:auto;
}

@media (min-width: 767px) {
    .main_block{
        width: 65%;
        /*display: inline-block;*/
        float: right;
    }
    .menu_left{
       /* display:inline-block;*/
        vertical-align:top;
        float:left;
    }

}
@media (max-width: 510px) {
    .hide_510{
        display:none;
    }
}